{% extends 'Base/base_index.html' %}

{% load static %}



{% block card_contenido %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <!-- TITULO DE CARD -->
                <div class="card-header pb-0">
                    <h6> Lista de cargos</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">

                        <table id="tablaData" class="table align-items-center mb-0">
                            <!-- HEAD DE LA TABLA -->
                            <thead>
                                <tr>
                                    <th class="font-weight-bolder">ID</th>
                                    <th class="font-weight-bolder">Nombre del cargo</th>
                                    <th class="font-weight-bolder">Acciones</th>
                                </tr>
                            </thead>

                            <!-- BODY DE LA TABLA -->
                            <tbody>
                                {% for cargo in CargoKey %}
                                <tr>
                                    <td>{{cargo.id}}</td>
                                    <td>{{cargo.nombre}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'editar_cargo' cargo.id %}" class="mx-2 text-success">
                                            <i class="fa-solid fa-pen fa-lg"></i>
                                        </a>
                                        
                                        <a href="{% url 'eliminar_cargo' cargo.id %}" class="mx-2 text-success">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>

                                    </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock %}




