{% extends 'Base/base_ingreso.html' %}


{% load static %}

{% block card_ingreso %}
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">
                Bienvenido usuario
            </h1>
            <p class="lead">
                Nos alegra tenerte aquí. Explora con confianza, descubre nuevas funciones y aprovecha al máximo
                tu experiencia.
            </p>
            <div class="d-grid gap-2 col-6 mx-auto">

                <ul>
                    <li class="list-unstyled">
                        <a type="button" class="btn btn-success" href="{% url 'log_in' %}"> Iniciar Sesión</a>
                        <a type="button" class="btn btn-primary" href="{% url 'sign_up' %}"> Registrarse</a>
                    </li>



                </ul>

            </div>
        </div>
    </div>
</div>


{% endblock %}